.container{
    background-color: greenyellow;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.p1{
    color: red;
    font-size: 16px;
    margin-bottom: 0;
}
.p2{
    color: green;
    font-size: 16px;
    margin-bottom: 0;
}